    body{
        background-color: rgb(201, 201, 201);
    }
    h1{
        color: rgb(203, 24, 24);
        font: 50px Verdana, serif;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: auto;
        padding-bottom: 10px;
        text-align: center;
        background-color: rgb(7, 192, 151);
    }
    p{
        color: rgb(32, 32, 32);
        font: 30px Verdana, serif;
        text-align: center;
    }
    img{
        display: block;
        margin: 0 auto;
        image-rendering: pixelated;
        width: 500px;
        height: auto;
        border-radius: 8px;
    }
    ul{
        color: rgb(0, 0, 0);
        font: 20px Verdana, serif;
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        font: 20px Verdana, serif;
        background-color: rgb(254, 254, 254);
        border-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;;
    }
    button{
        font: 20px Verdana, serif;
        background-color: rgb(7, 192, 151);
        border-radius: 8px;
        border: none;
        padding: 10px;
        cursor: pointer;
        display: flex;
        margin: 0 auto;    
    }
    button:hover{
        background-color: rgb(3, 128, 101);
        color: white;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: large;
    }
    a:hover{
        color: rgb(7, 192, 151);
        font-weight: bold;
    }